.listgroup-description {

    overflow-wrap: break-word;
    word-wrap: break-word;
}

.list-group-container {

    display: flex;
    align-items: center;
}

.footer-container{

    display: flex;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-child-container {
    display: flex;
    flex-direction: column;
}

.flex-download {
    display:flex;
}

.description-container {
    display: flex;
    justify-content: space-between;
}